@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Welcome Admin</h1>
    @Html.ActionLink("Add Cat","Categourie","Home")
    @Html.ActionLink("Add Cake", "cake", "Home")
    @Html.ActionLink("Display", "DisplayC", "Home")
    @Html.ActionLink("AddOffer", "offer", "Home")
    @Html.ActionLink("Offers","Doffer","Home")
}
